#page
{
	max-width: 100%;
	max-height:100%;
	display: flex;
	flex-direction: column;
}


#a, a:hover 
{
  color: #000000;
  border-bottom: 1px solid;
}


#header
{
	margin-top: 15px;
	width: 100%;
	display: flex;
	flex-direction: row;
}


#headerA
{
	width: 83%;
}


#headerB
{
	margin-right: 20px;
	width: 17%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


#section
{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


#sectionA
{
	padding-top: 109px;
}


#imgA
{
	width: 272px;
	height: 92px;
}


#champ
{
	width: 550px;

}


#sectionC
{
	display: flex;
	justify-content: center;
	padding-top: 30px;
}


#sectionCa
{
	padding-right: 10px;

}


#sectionD
{
	display: flex;
	justify-content: center;
	padding-top: 30px;

}


#imgB
{
	width: 45px;
	height: 45px;
}


#sectionDb
{
	display: flex;
	align-items: center;
	padding-left: 10px;

}


#footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: grey;
	color: black;
	display: flex;
	flex-direction: column;
	border-top: 1px solid black;
	padding-bottom: 5px;
	

}
#footerA
{
	margin-left: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;


}
#footerB
{
	
	border-top: 1px solid black;
	display: flex;
	justify-content: space-between;
}
#footerBa
{
	margin-left: 20px;
	width: 40%;
	display: flex;
	justify-content: space-between;

}
#footerBb
{
	margin-right: 20px;
	width: 40%;
	display: flex;
	justify-content: space-between;

}